[Unit]
Description=Devbrief(pulse) API - NestJS
After=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
WorkingDirectory=/home/rst010/projects/side/devbrief/apps/api
ExecStart=/home/rst010/.nvm/versions/node/v24.15.0/bin/node dist/main
Restart=on-failure
RestartSec=5
StandardOutput=append:/tmp/pulse-api.log
StandardError=append:/tmp/pulse-api.log

KillMode=control-group
TimeoutStopSec=10

[Install]
WantedBy=default.target
